In [42]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer



df=pd.read_csv('mlp.csv')

df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [43]:
df.shape

(205, 26)

In [41]:
new=df.CarName.apply(lambda x: (" ".join(x)).lower())
new

0                  a l f a - r o m e r o   g i u l i a
1                a l f a - r o m e r o   s t e l v i o
2      a l f a - r o m e r o   q u a d r i f o g l i o
3                                a u d i   1 0 0   l s
4                                  a u d i   1 0 0 l s
                            ...
200                      v o l v o   1 4 5 e   ( s w )
201                              v o l v o   1 4 4 e a
202                              v o l v o   2 4 4 d l
203                                  v o l v o   2 4 6
204                              v o l v o   2 6 4 g l
Name: CarName, Length: 205, dtype: object

In [33]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df)
vectorizer.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.float64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': None,
 'min_df': 1,
 'ngram_range': (1, 1),
 'norm': 'l2',
 'preprocessor': None,
 'smooth_idf': True,
 'stop_words': None,
 'strip_accents': None,
 'sublinear_tf': False,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'use_idf': True,
 'vocabulary': None}

In [34]:
df.shape

(205, 26)

In [36]:
X = vectorizer.fit_transform(df)
vectorizer.fit(df)y

TfidfVectorizer()

In [37]:
print(vectorizer.idf_)

[3.60268969 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969
 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969
 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969
 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969 3.60268969
 3.60268969 3.60268969]

In [39]:
print(vectorizer.vocabulary_)

{'car_id': 2, 'symboling': 24, 'carname': 6, 'fueltype': 18, 'aspiration': 0, 'doornumber': 12, 'carbody': 3, 'drivewheel': 13, 'enginelocation': 14, 'wheelbase': 25, 'carlength': 5, 'carwidth': 7, 'carheight': 4, 'curbweight': 10, 'enginetype': 16, 'cylindernumber': 11, 'enginesize': 15, 'fuelsystem': 17, 'boreratio': 1, 'stroke': 23, 'compressionratio': 9, 'horsepower': 20, 'peakrpm': 21, 'citympg': 8, 'highwaympg': 19, 'price': 22}